{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
      <title>View records</title>
    {% endblock %}
</head>
<body>
    {% block body %}

      <h1>Records</h1>
      <div class="container">
          {{record}}
      {% for item in record1 %}
        <li class="list-group-item">{{ item }}</li>
      {% endfor %}
      </div>
        <br>
      <button type="button" class="btn btn-primary">Primary</button>

    {% endblock %}
</body>
</html>